<div class="body">
<div class="rightBody">

    <form #completeOrderForm="ngForm" (ngSubmit)="onSubmitCompleteOrder(completeOrderForm)">
      <div class="orderContainer">
    <div class="topOrder">
      <h1>Complete The Order</h1>
    </div>
    
      <div class="inputContainer">
      <div class="form-group">
        <label for="orderId">Order ID:</label><br>
        <input type="text" [(ngModel)]="orderId"
               class="form-control"
               id="orderId"
               name="orderId"
               placeholder=""
               required #login="ngModel">
      </div>
    </div>
      <div class="submitOrder">
        <button type="submit" id="submitBtn" [disabled]="!completeOrderForm.valid">Complete</button>
      </div> 
    </div>
    </form>
</div>
<div class="leftBody">
  <div class="listContainer">
    <div class="orderList">
      ORDER LIST
    </div>
    <div *ngIf="orderList.length === 0; else notEmpty">
      <div class="noData">
        No data
      </div>
    </div>
    <ng-template #notEmpty>
      <div *ngFor="let menu of orderList">
        <div class="listItem">
          <div class="dishID">
            DISH ID: {{menu.dishId}}
          </div>
          <div class="dane">
            Name: {{menu.dishName}}
          </div>
          <div class="dane">
            Price: {{menu.dishPrice}}
          </div>
        </div>
      </div>
    </ng-template>
  </div>
</div>

<div class="footer">
  <button class="personalData button" (click)="showPersonalData()">Personal Data</button>
</div>
  
</div>



