<div class="body">
    <div class="container">
        <div class="buttonsContainer">
            <button class="button">HIRE</button>
            <button class="button red">FIRE</button>
        </div>
        <div class="dataContainer">
            <div class="listItem">
                <div class="left">
                    Wszystkie dane
                </div>
                <div class="right">
                    <button class="button yellow">EDIT</button>
                </div>
            </div>
            <div class="listItem">
                <div class="left">
                    Wszystkie dane
                </div>
                <div class="right">
                    <button class="button yellow">EDIT</button>
                </div>
            </div>
            <div class="listItem">
                <div class="left">
                    Wszystkie dane
                </div>
                <div class="right">
                    <button class="button yellow">EDIT</button>
                </div>
            </div>
        </div>
    </div>
</div>

