<p>waiter-page works!</p>
<p>{{employeeId.id}}</p>
<button (click)="showPersonalData()">Dane osobowe</button>

<h1>Accept Order</h1>
<form #acceptOrder="ngForm" (ngSubmit)="onSubmit(acceptOrder)">
    <div class="form-group">
       <label for="guestID">guestId:</label>
       <input type="text" [(ngModel)]="orderDto.guestId"
           class="form-control"
           id="guestId"
           name="guestId"
           placeholder="guestId"
           required #guestId="ngModel">
    </div>
    <div>
        <label for="DishId">dishId:</label>
    <input type="text" [(ngModel)]="orderDto.dishIds"
        class="form-control"
        id="dishIds"
        name="dishIds"
        placeholder="dishIds"
        required #dishIds="ngModel">
    </div>
    <div class="center">
       <button type="submit" id="submitBtn" [disabled]="!acceptOrder.valid">accept</button>
    </div>

    <div *ngIf="orders.length > 0; else noOrders">
        <div *ngFor="let order of orders">
          <p>Order ID: {{ order.dishId }}</p>
          <p>Item: {{ order.dishName }}</p>
          <p>Price: {{ order.dishPrice }}</p>
        </div>
      </div>
      
      <ng-template #noOrders>
        <p>No pending orders.</p>
      </ng-template>
</form>